.health-button-container{
    width: 400px;
    height: 145px;
    border-radius: 20px;
    /* border: 1px solid #707070; */
    background-color: rgba(255, 255, 255, 0.0);
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 0px;
  }

  .white-icon {
    color: white;
}
  
  .health-button{
    border-radius: 10px;
    width: 55px;
    height: 55px;
    margin-top: 50px;
  }
  
  .health-icon{
    position: relative;
    color: white;
  }
  
  .health-text{
    position: absolute;
    margin-top: 4px;
    font-size: 28px;
    font-weight: bold;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.49);
    color: rgb(255,255,255,.9);
  }
  
  .overview-text{
    position: absolute;
    top: 56px;
    right: 0px;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.49);
  }
  
  .sleep-text{
    position: absolute;
    top: 56px;
    right: 11px;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.49);
  }
  
  .activity-text{
    position: absolute;
    top: 56px;
    right: 5px;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.49);
  }
  .weight-text{
    position: absolute;
    top: 56px;
    right: 7px;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.49);
  }
  .mirror-text{
    position: absolute;
    top: 56px;
    right: -11px;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.49);
  }
  
  .content{
    margin-top: 10px;
    width: 480px;
    height: 250px;
    overflow-y: scroll;
    border-radius: 20px;
  }
  
  .content::-webkit-scrollbar { 
    display: none; 
  } 
  
  
  
  