@font-face {
  font-family: SF-Pro;
  src: url(SF-Pro-Text-Regular.otf) format("opentype");
}
@font-face {
  font-family: SF-Pro;
  src: url(SF-Pro-Display-Bold.otf) format("opentype");
}
@font-face {
  font-family: SF-Pro;
  src: url(SF-Pro-Display-Semibold.otf) format("opentype");
}
@font-face {
  font-family: SF-Pro;
  src: url(SF-Pro-Display-Thin.otf) format("opentype");
}
