body{
    background-color: black;
}
.container{
    width: 1440px;
    height: 1080px;
    background-color: rgb(0, 0, 0);
    margin-left: 320px;
    
}

.mirror{
    position: absolute;
    transform: rotateY(180deg);
    width: 1440px;
    height: 1080px;
}

.one{
    width: 310px; 
    height: 1080px;
    /* background-image: url("../assets/rulethirds.png");   */
  background-color: black;
    position: absolute;
    z-index: 10000000000;
    opacity: 1;

}

.two{
    width: 500px; 
    height: 1080px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    z-index: 10000000000;
    margin-left: 1770px;
}

.main{
    width: 1440px; 
    height: 1080px;
    background-color: transparent;
    position: absolute;
    z-index: 1000000;

}

.alwayson{
    width: 1440px;
    height: 270px;
    /* background-color: rgba(255, 0, 0, 0.3); */
    position: absolute;  
}

.choices{
    width: 400px;
    height: 400px;
    /* background-color: rgba(255, 255, 255, 0.3); */
    margin-top: 360px;
    position: absolute;
    background-image: url("../assets/choices.png"); 
    background-size: 400px 400px;
    position: absolute; 
    margin-left: -200px;

}

.choices h1{
    margin-left: 170px;
    margin-top: 150px;
    color: white;
}

.menu{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    /* background-color: rgba(255, 255, 255, 0.3); */
    margin-top: 360px;
    position: absolute;
    background-image: url("../assets/themenu.png"); 
    background-size: 400px 400px;
    position: absolute; 
    margin-left: -200px;
    animation: shadow-pulse 5s infinite;
   

}

.controlpanel{
    width: 480px;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    margin-top: 1000px;
    margin-left: 480px;
    border-radius: 10px;

}

.clock{
    width: 480px;
    height: 270px;
    
    margin-top: 840px;
    border-radius: 10px;
    position: absolute;
    margin-left: 925px;
    text-align: right;

}

.weather{
    width: 480px;
    height: 200px;
    padding-left: 0px;
    padding-top: 0px;

    background-color: transparent;
   
    /* background-color: rgba(255, 255, 255, 0.3); */
    margin-top: 840px;
    border-radius: 10px;
    position: absolute;
    margin-left: 20px;
}




.stuff{
   
    position: absolute;
    margin-left: 960px;
    margin-top: 360px;
    width: 480px;
    height: 720px;
  
}

.day{
    position: absolute;
    color: white;
    font-size: 75px;
    margin-top: 55px;
    text-shadow: 2px 2px 3px rgb(0, 0, 0), 0 0 10px rgb(0, 0, 0);
    margin-left: 245px;
    width: 480px;
    margin-top: 900px;
    

}

.schedule{
    width: 480px;
    height: 90px;
    border-radius: 10px;
    position: absolute;
    margin-top: 10px; 
    margin-left: 0px;
   
    animation: move 40s infinite; 
}

.schedule h1{
    color: white;
    font-size: 50px;
    position: absolute;
    margin-top: 0px;
}

.events{
    filter: hue-rotate(50deg);
    position: absolute;
}

.notifications{
    
    position: absolute;
    margin-left: 1240px;
}



.date{
    width: 480px;
    height: 70px;
    border-radius: 10px;
    position: absolute;
    margin-top: 960px;
    margin-left: 925px; 
    
     text-align: right;
 
}

.health{
  
    width: 400px;
    position: absolute;
    margin-left: 1040px;
    margin-top: 360px;
    
  

}

.news{
    margin-left: 1040px;
    margin-top: 360px;
    position: absolute;
}

.message{
    margin-left: 1040px;
    margin-top: 360px;
    width: 480px;
    position: absolute;
}

.social{
    margin-left: 1040px;
    margin-top: 360px;
    width: 480px;
    position: absolute;
}

.music{
    margin-left: 1040px;
    margin-top: 360px;
    width: 480px;
    position: absolute;
}


.swipe{
    width: 400px;
    height: 5px;
    background-color: rgb(136, 136, 136);
    margin-left: 520px;
    margin-top: 1040px;
    position: absolute;
    color: white;
    animation: shadow-pulse 2s infinite;
    opacity: 0.5;
    text-align: center;
    
}


button{
    background: transparent;
    border: none;
    width: 70px;
    height: 70px;
    outline: none;
    cursor: pointer;
}

button{
    background: transparent;
    border: none;
    width: 70px;
    height: 70px;
    outline: none;
    cursor: pointer;
   
}

button h1{
  opacity: 0.1;
}


button:hover h1{
    opacity: 1;
    color: white;
}


.hidemenu{
    margin-left: -79px;
    margin-top: 480px;
    color: white;
    font-size: 14px;
    text-align: right;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: #0000002f;
    position: absolute;
    z-index: 100000000000;
    
    
}

.notif1{
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    margin-left: 229px;
    margin-top: 20px;
    position: absolute;
    z-index: 100000000000;
}

.notif2{
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    margin-left: 329px;
    margin-top: 60px;
    position: absolute;
    z-index: 100000000000;
}

.notif3{
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    margin-left: 360px;
    margin-top: 160px;
    position: absolute;
    z-index: 100000000000;
}


.healthb{
    margin-left: 315px;
    margin-top: 165px;
    position: absolute;
      
}

.healthb h1{
  
    margin-top: -50px;

    margin-left: 100px;
   
}

.messageb{
    margin-left: 285px;
    margin-top: 80px;
    position: absolute;
   }


.messageb h1{
  
   
    margin-left: 100px;
    margin-top: -50px;

}


.newsb{
    
    position: absolute;
    margin-left: 280px;
    margin-top: 250px;
}

.newsb h1{
  
   
    margin-left: 100px;
    margin-top: 50px;
   
}

.socialb{
    margin-left: 210px;
    margin-top: 25px;
    position: absolute;
}

.socialb h1{
  
    
    margin-left: 70px;
    margin-top: -90px;
   
}
     
.musicb{
    margin-left: 210px;
    margin-top: 300px;
    position: absolute;
     }


.musicb h1{
  
  
    margin-left: 50px;
    margin-top: 100px;
   
}

.example-handle{
    cursor: move;

}

.light{
    position: absolute;
    color: white;
   opacity: .5;
    margin-left: 80px;
    margin-top: 5px;
    border-radius: 15px;
    width: 60px;
    height: 60px;

}

.close{
    width: 20px;
    height: 20px;
    background-image: url("../assets/close.png"); 
    background-size: 20px 20px;
    cursor: pointer;
    position: absolute;
    filter: invert(1);
    margin: 10px;
}
.closecontrol{
    margin-left: 450px;
}


* {
    font-family: SF-Pro;
}


@keyframes shadow-pulse
{
     0% {
          box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.5);
     }
     100% {
          box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
     }
}

@keyframes fade-pulse
{
     0% {
          opacity: 0;
     }
     100% {
          opacity: 1;
     }
}

@keyframes move
{
     0% {
        transform: translate(-500px);
        opacity: 0;
     }
     10%{
        transform: translate(-500px);
        opacity: 1;
     }
     95%{
        opacity: 1;
     }
     100% {
        transform: translate(-1440px, 0);
       opacity: 1;
        
     }
}
